{% extends "base.jinja" %}
{% block title %}Search DMEPOS{% endblock %}
{% block content %}
    <div class="container-fluid">
        <form class="form-signin" action="{{ url_for(form_name) }}" method="post">
            <h2 class="form-signin-heading">Search DMEPOS</h2>
            <label for="inputEmail" class="sr-only">Description</label>
            <input type="text" name="search" id="search" class="form-control"
                   placeholder="Description" autofocus value="{{ _search }}">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
        </form>
        <p class="text-muted text-center">Pricing reflects Durable Medical Equipment, Prosthetics, Orthotics and
            Supplies fee schedule from CMS.</p>
    </div>

    <hr/>

    <div class="container" style="font-size: 11pt">
        <h2>DMEPOS</h2>
        <div class="row">
            <div class="col">
                <table class="table table-sm table-bordered" style="background: #FFF;">
                    <caption>DMEPOS</caption>
                    <tr title="Fuzzy">
                        <th>Description</th>
                        <th>HCPCS</th>
                        <th>Average Cost</th>
                        <th>Category</th>
                    </tr>
                    {% for equipment in data %}
                        <tr title="{{ equipment['fuzzy'] }}">
                            <td>{{ equipment['description'] }}</td>
                            <td>{{ equipment['hcpcs'] }}</td>
                            <td>${{ '%0.2f' % equipment['average_cost']|float }}</td>
                            <td>{{ equipment['category'] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}