{% extends "base.jinja" %}
{% block content %}
    <div class="container-fluid">
        <h1>Meda-Sync Search</h1>
        <ul>
            <li><a href="/search_prescription">Prescription Search</a></li>
            <li><a href="/search_equipment">Equipment Search</a></li>
        </ul>
    </div>
{% endblock %}
